! Run $ xrdb ~/.Xresources to reload

! System-wide
#define MONITOR_1 DVI-D-0
#define MONITOR_2 HDMI-0
#define ACCENT_COLOR #AF87FF
#define FOREGROUND_COLOR #f8f8f0
#define BACKGROUND_COLOR #26292c
#define FONT 'VL PGothic'

! Monokai theme
#define base00 #26292c
#define base01 #383830
#define base02 #49483E
#define base03 #75715E
#define base04 #A59F85
#define base05 #F8F8F2
#define base06 #F5F4F1
#define base07 #F9F8F5
#define base08 #F92672
#define base09 #FD971F
#define base0A #F4BF75
#define base0B #A6E22E
#define base0C #A1EFE4
#define base0D #66D9EF
#define base0E #AF87FF
#define base0F #CC6633

*.color0: base00
*.color1: base08
*.color2: base0B
*.color3: base0A
*.color4: base0D
*.color5: base0E
*.color6: base0C
*.color7: base05

*.color8: base03
*.color9: base08
*.color10: base0B
*.color11: base0A
*.color12: base0D
*.color13: base0E
*.color14: base0C
*.color15: base07

! *.alpha: 0
! *.font: 'MesloLGS NF:size=10'
! *.background: #232627

Xcursor.size: 16
Xcursor.theme: Breeze

! i3
i3wm.border_active: ACCENT_COLOR
i3wm.border_inactive: #5F676A
i3wm.display1: MONITOR_1
i3wm.display2: MONITOR_2

! Tabbed (only configured via i3 config for now)
tabbed.normal_background: BACKGROUND_COLOR

! dmenu
dmenu.font: FONT
dmenu.foreground: FOREGROUND_COLOR
dmenu.background: BACKGROUND_COLOR
dmenu.selbackground: ACCENT_COLOR
dmenu.selforeground: FOREGROUND_COLOR

! polybar
polybar.i3_focus_background: ACCENT_COLOR
polybar.foreground: FOREGROUND_COLOR
polybar.background: BACKGROUND_COLOR
polybar.display1: MONITOR_1
polybar.display2: MONITOR_2
polybar.is_bar1_bottom: false
polybar.is_bar2_bottom: false
polybar.font: VL PGothic:size=11;3

! Original dpi was 101x101
! Xft.dpi: 120
! Xft.dpi: 101
! Xft.dpi: 93
Xft.dpi: 96

Sxiv.background: BACKGROUND_COLOR
Sxiv.foreground: ACCENT_COLOR

! To have GTK 3 programs have a consistent cursor size 
! with X, set gtk-cursor-theme-size=n for n as in 
! Xcursor.size. 
! The setting can be found in .config/gtk-3.0/settings.ini
